.controlContent {
  display: flex;
  justify-content: space-between;
  padding: 6rem 0;
}

.controlContent .controlInfo,
.controlContent .controlSection {
  width: 50%;
  color: #fff;
}

.controlContent .controlSection {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.controlContent .controlInfo h2 {
  font-size: 38px;
  margin-bottom: 2rem;
}

.controlContent .controlInfo p {
  color: #c0c0c0;
  width: 430px;
  line-height: 170%;
}

.controlContent .controlInfo h2 span {
  color: #9bf00b;
}

.controlContent img {
  width: 80%;
  display: flex;
  align-items: flex-end;
}
