.controlContent {
  display: flex;
  justify-content: space-between;
  padding: 6rem 0;
}

.controlContent .controlInfo,
.controlContent .controlSection {
  width: 50%;
  color: #fff;
}

.controlContent .controlSection {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.controlContent .controlInfo h2 {
  font-size: 38px;
  margin-bottom: 2rem;
}

.controlContent .controlInfo p {
  color: #c0c0c0;
  width: 430px;
  line-height: 170%;
}

.controlContent .controlInfo h2 span {
  color: #9bf00b;
}

.controlContent img {
  width: 80%;
  display: flex;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .controlContent {
    flex-direction: column;
    padding: 5rem 2rem;
    box-sizing: border-box;
  }

  .controlContent .controlInfo,
  .controlContent .controlSection {
    width: 100%;
  }

  .controlContent .controlInfo h2 {
    font-size: 1.5rem;
  }

  .controlContent .controlInfo p {
    width: 100%;
  }

  .controlContent .controlSection {
    margin-top: 3rem;
  }

  .controlContent .controlSection {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .controlContent .controlSection img {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
