.games {
  display: flex;
  width: 100%;
  padding: 5rem 0;

  animation: down-anime 1s forwards;
  box-sizing: border-box;
}

.games .cardGame {
  width: 30%;
  height: 500px;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.games .cardGame:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.games .cardGame img {
  width: 50%;
  padding-bottom: 2rem;
}

.games .cardGame:nth-child(1) {
  background-image: linear-gradient(#00000000, #0d0d0d),
    url(../../assets/games/bg-farcry6.svg);
}

.games .cardGame:nth-child(2) {
  background-image: linear-gradient(#00000000, #0d0d0d),
    url(../../assets/games/bg-forza-horizon.svg);
}

.games .cardGame:nth-child(3) {
  background-image: linear-gradient(#00000000, #0d0d0d),
    url(../../assets/games/bg-fifa.svg);
}

.games .cardGame:nth-child(4) {
  background-image: linear-gradient(#00000000, #0d0d0d),
    url(../../assets/games/bg-minecraft.svg);
}

@keyframes down-anime {
  from {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 768px) {
  .games {
    flex-direction: column;
  }

  .games .cardGame {
    width: 100%;
    background-position: center;
  }
}
