* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

body {
  background: #0d0d0d;
}

.container {
  max-width: 55rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  color: #777777;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .container .copyright {
  width: 43%;
  display: flex;
  justify-content: space-between;
}

footer img {
  width: 60%;
}
