* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

body {
  background: #0d0d0d;
}

.container {
  max-width: 55rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

/* PÁGINA NÃO ENCONTRADA */
.notFound {
  height: 110vh;
}

.notFound .container {
  height: 50%;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  flex-direction: column;
}
.notFound .container h1 {
  margin: 2rem 0;
}

footer {
  color: #777777;
  padding: 2rem 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .container .copyright {
  width: 43%;
  display: flex;
  justify-content: space-between;
}

footer img {
  width: 60%;
}

@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
    padding: 0 2rem;
    box-sizing: border-box;
  }

  footer .container .copyright {
    flex-direction: column;
    width: 100%;
  }

  footer .container .copyright span {
    width: 100%;
  }

  footer img {
    width: 20%;
  }
}
