.banner {
  height: 100vh;

  background-color: #0d0d0d;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-size: 3rem;
  color: #fff;
}

.banner p {
  font-size: 1rem;
  color: #9bf00b;
  margin-top: 1rem;
  text-transform: uppercase;
}

.banner img {
  width: 60%;
  margin-top: 3rem;
}
