.banner {
  height: 100vh;

  background-color: #0d0d0d;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(../../assets/banner/luz-verde.svg);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.banner h1 {
  font-size: 3rem;
  color: #fff;
}

.banner p {
  font-size: 1rem;
  font-weight: bold;
  color: #9bf00b;
  margin-top: 1rem;
  text-transform: uppercase;
}

.banner img {
  width: 70%;
  margin-top: 3rem;
  background: linear-gradient(transparent, #0d0d0d);
}
